<!DOCTYPE html>
<html class="html">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="body">

      <div class="historico">
          <table id="table" class="centered highligh" *ngFor="let historico of historicos">
              <thead>
                <tr>
                    <th id="header">Número de Controle</th>
                    <th id="header">Equipamento</th>
                    <th id="header">Procedimento</th>
                    <th id="header">Data</th>

                </tr>
              </thead>
      
              <tbody>
                <td>
                    {{this.historico.equipamentName}}
                </td>

                <td>
                    {{this.historico.procedureName}}
                </td>

                <td>
                    {{this.historico.date}}
                </td>

                <td>
                   {{this.historico.controlNumber}}
               </td>

                
              </tbody>
          </table>

      </div>
      


    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>