<!DOCTYPE html>
<html class="html">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="body">

      <div id="areaPesquisa">
        <div id="pesquisa"><p><b>Pesquise o profissional:</b></p></div>
          <input type="text" id="textarea1" class="materialize-textarea" placeholder="Profissional">
      </div>

      <div class="profissionais">
          <table id="table" class="centered highligh" *ngFor="let profissional of profissionais">
              <thead>
                <tr>
                    <th id="header">Código</th>
                    <th id="header">Nome</th>
                    <th id="header">Perfil</th>
                    <th colspan="1" id="header"></th>

                </tr>
              </thead>
      
              <tbody class = "conteudo">
                <td>
                    {{this.profissional.id}}
                </td>

                <td>
                    {{this.profissional.name}}
                </td>

                <td>
                    {{this.profissional.role}}
                </td>
                  
                  <td>
                      <a class="modal-trigger" data-target="modal1" (click)="this.abrirDetalhes(this.profissional.id)">
                          <i class="material-icons">remove_red_eye</i>
                      </a>
                  </td>
                  

              </tbody>
          </table>

      </div>
      

      <div id="modal1" class="modal max"> 
        <div *ngIf="this.details" class="modal-content">
            <h4> <i class="material-icons left">remove_red_eye</i>
                 Detalhes do funcionário          
            </h4>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>  
                            <p>{{this.details.username }} </p>
                        </td>
                        <td>
                            <p>{{this.details.email }} </p>
                        </td>
                        <td>
                            <p>{{this.details.phone }} </p>
                        </td>
                        <td>
                            <p>{{this.details.cpf }}</p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="modal-footer detalhe">
            <a class="modal-action modal-close waves-effect waves-teal btn-flat">Fechar</a>
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
      




